body {
    background-image: url("https://news.weill.cornell.edu/sites/default/files/styles/news_story_featured_image/public/story_featured_images/commencement_2015.png?itok=EH_2veuK&c=3df755f0d0132639d9f8b21ec6e2abb0");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.course-instructor-panel {
    background: rgba(0,0,0,.5);
}

.instructor-title {
    color: white;
}