<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" />
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index-specific.css') }}" />
    {% endblock %}
    <title>CSCB20 Assignment 3</title>
</head>

<body>
    <div class="main-container">
        <nav>
            <a href="{{url_for('home')}}"> Home </a>
            <a href="{{url_for('signin')}}"> Sign In </a>
            <a href="{{url_for('signin')}}"> Sign Up </a>
        </nav>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        {% block content %}
        <div class="header">
            <h1>CSCB63: Design and Analysis of Data</h1>
        </div>
        </br>
        </br>
        </br>
        <div class="description-div btn">
            <div class="description-title">
                <h1>Description</h1>
            </div>
            <div class="description-text">
                <p class="description-info">
                    Design, analysis, implementation and comparison of efficient data structures for common abstract data types. Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search trees, B-trees, hashing. Amortization: data structures for managing
                    dynamic tables and disjoint sets. Data structures for representing graphs. Graph searches.</br>
                    </br>
                    <b>Exclusion: </b>CSC263H, CSC265H, (CSCC78H)</br>
                    </br>
                    <b>Prerequisite: </b><a target="_blank" href="https://utsc.calendar.utoronto.ca/course/cscb36h3">CSCB36</a> or (CSCB38H) & [cGPA of 2.75 or enrollment in a CSC subject POSt]</br>
                    </br>
                </p>
            </div>
        </div>
        <div class="general-div btn">
            <div class="general-text-all">
                <div class="general-title">
                    <h1>General Information</h1>
                </div>
                <div class="general-text">
                    <p class="general-info">
                        <b>Instructor: </b>Dr. Anna Bretscher</br>
                        </br>
                        <b>Email: </b><a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a></br>
                        </br>
                        <b>Office: </b>IC493</br>
                        </br>
                        <b>Office Hours: </b>Mondays 11:00-12:30, Friday 10:40-11:30 in office (Subject to change: check calendar)
                        </br>
                        </br>
                        <b>Lectures: </b><a href="https://utoronto.zoom.us/j/89553548645">Wednesdays 3-4 pm</a> <a href="https://utoronto.zoom.us/j/83378932991">Thursdays 9:10-11 am</a></br>
                        </br>
                    </p>
                </div>
            </div>
            <div class="general-pic">
                <a target="_blank" href="https://www.utsc.utoronto.ca/cms/anna-bretscher"><img src="https://www.utsc.utoronto.ca/cms/sites/utsc.utoronto.ca.cms/files/styles/person-thumbnail/public/Anna_Bretscher.jpg?itok=fsOxaRe6" alt="Anna Bretscher"></a>
            </div>
        </div>
        <div class="links-div btn">
            <div class="links-title">
                <h1>Links</h1>
            </div>
            <div class="links-text">
                <p class="links-info">
                    For LaTeX installations, go to the 
                    <a href="http://latex-project.org/ftp.html">latex project install website</a>. Both the Windows and Mac versions listed come with editors as well as the packages and compilers.</br>
                    </br>
                    Once you are up and running, I recommend downloading the 
                    <a href="http://tobi.oetiker.ch/lshort/lshort.pdf">Not So Short Guide to LaTeX</a>. 
                    Everything you need is there, however it may be overkill. 
                    You can also start with this <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/template.tex">template.tex</a>
                    and add as you need.</br>
                    </br>
                </p>
            </div>
        </div>
        {% endblock %}
    </br></br></br></br>
        <footer>
            <a target="_blank" href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer
                Science</a>
            <p>Designed and Created by Katrina Best and Zixiao Ren</p>
        </footer>
    </div>
    
</body>

</html>
