<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSCB20 Assignment 3</title>
    {% block head %}
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/signup.css') }}"
    />
    {% endblock %}
  </head>
  <body>
    {% extends "index.html" %} {% block content %}
    <div class="box">
      <form method="POST">
        <input
          id="userid-input-box"
          type="text"
          name="userid"
          class="input"
          placeholder="User ID"
        />
      </br>
        <input
          id="password-input-box"
          type="password"
          name="password"
          class="input"
          placeholder="Password"
        />
      </br>
        
      <select id="usertype-input-box"
          type="text"
          name="usertype"
          class="input">
          <option value="student">Student</option>
          <option value="instructor">Instructor</option>
      </select>
      </br>
      <input
          id="username-input-box"
          type="text"
          name="username"
          class="input"
          placeholder="User Name"
        />
      </br>
      <pre id="errorMessage">{{ error }}</pre>
      <input type="submit" id="button" name="submit-button" value="sign up" />
      </form>
    </div>
    {% endblock %}
  </body>
</html>