<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/s-feedback.css') }}" />
  {% endblock %}
  <title>CSCB20 Assignment 3</title>
</head>

<body>
  {% extends "index.html" %} {% block content %}
  <div class="box">
    <form method="POST" action="/studentFeedback">

      <select type="text" name="prof-person" class="input">
        {% for professor in professors %}
        <option name="professor" value="{{ professor['username'] }}">{{ professor['username'] }}</option>
        {% endfor %}
      </select></br>
      <textarea class="input-box" type="text" name="question1"
        placeholder="What do you like about the instructor's teachings?"></textarea>
      </br>
      <textarea class="input-box" type="text" name="question2"
        placeholder="What do you recommend the instructor do in order to improve their teaching methods?"></textarea>
      </br>
      <textarea class="input-box" type="text" name="question3"
        placeholder="What do you like about the labs?"></textarea>
      </br>
      <textarea class="input-box" type="text" name="question4"
        placeholder="What do you recommend the lab instructors do in order to improve their teaching methods?"></textarea>
      </br>
      <pre id="errorMessage">{{ error }}</pre>
      <input type="submit" id="button" name="submit-button" value="submit feedback" />
    </form>
  </div>
  {% endblock %}
</body>

</html>