<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/marks.css') }}" />
  <title>CSCB20 Assignment 3</title>
</head>

<body>
  {% extends "index.html" %} {% block content %}
  <div class="box">
    <form method="POST" action="/studentRemark">
      <select type="text" name="prof-person" class="input">
        {% for professor in professors %}
        <option value="{{ professor['username'] }}">{{ professor['username'] }}</option>
        {% endfor %}
      </select></br>
      <select type="text" name="Assignment" class="input">
        {% for professor in professors %}
        <option value="{{ professor['username'] }}">{{ professor['username'] }}</option>
        {% endfor %}
      </select></br>
      <pre id="errorMessage">{{ error }}</pre>
      <input type="submit" id="button" name="submit-button" value="submit feedback" />
    </form>
  </div>
  {% endblock %}
</body>

</html>