body {
  background-image: url("https://onesearch.library.utoronto.ca/sites/default/files/music_interior.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
